<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.sportswire247.carousel</string>
  <key>ProgramArguments</key><array><string>/bin/zsh</string><string>/Users/dw/Library/Application Support/SportsWire/publisher-runtime/scripts/run-sportswire-carousel.sh</string></array>
  <key>StartCalendarInterval</key><array>
    <dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>/Users/dw/Library/Application Support/SportsWire/publisher-runtime/logs/carousel.log</string>
  <key>StandardErrorPath</key><string>/Users/dw/Library/Application Support/SportsWire/publisher-runtime/logs/carousel-error.log</string>
</dict></plist>
